@import url("https://fonts.googleapis.com/css?family=Khula&display=swap");

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Khula", sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16d9e3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323c 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.lvl-btn {
  background-color: transparent;
  border: 2px solid #c0c0c0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.time-btn:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16d9e3;
}

.board {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  caret-color: transparent;
  grid-template-columns: repeat( auto-fill, 40px );
  
}

.btn {
  height: 40px;
  font-size: 0;
  background: linear-gradient(118.38deg, #606770 -4.6%, #7d8b99 200.44%);

}

.btn:hover {
  cursor:pointer;
}

.btn_open {
  background: white;
  font-size: 24px;
}

.btn_open:hover {
  cursor:default;
}


.btn_open.bomb:before  {
 content: '✸';
 color: #29323c;
  width: 40px;
  height: 40px;

}

.flag::before {
  content: '\2691';
  color: red;
  font-size: 24px;
}

